
body {
    font: 14px/1.5 Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, sans, 'Arial';
    -webkit-font-smoothing: antialiased;
    background-color: #EFF2F7;
    color: #324057;

}

.product-item {
    position: relative;
    border: 1px solid #CCC;
    border-radius: 5px;
    text-align: center;
    background: white;
    transition: all .2s linear;
    margin-bottom: 10px;
}

.product-title {
    font-size: 18px;
    font-weight: 400;
    text-overflow: ellipsis;
    padding: 2px 5px;
    overflow: hidden;
    white-space: nowrap;

}

.product-item:hover {
    cursor: pointer;
    z-index: 2
}

.product-item:hover:after {
    content: "点击查看详情";
    line-height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    font-style: italic;
}

.col-inline-block {
    display: inline-block;

}

.container-fluid, .container {

}

.product-item-face {
    margin: 20px auto;
    height: 160px;
    width: 160px;
}

.product-item-face img {
    width: 160px;
    height: 160px;
}

.product-item .product-info {
    padding: 0 10px;

}

.product-price {
    text-align: center;
    color: #ff6700;
}

.product-price span {
    font-weight: 600;
    font-size: 18px;
}

.product-info {
    margin-top: 10px;
    padding: 0 10px;
    color: #aaa;
    text-align: left;
}


.product-label {
    margin-top: 20px;
}

.header {
    height: 200px;
}

nav.navbar {
    color: #8492A6;

}

nav.navbar ul .active a {
    color: white;
}

